/**
 * 2019.02.28
 * 需求所有内部页面字体改为12px
 * 因为字体变化得要求，不得不对layui.css核心样式库进行了整体调整。
 * **/
body{
    font-size: 12px !important;
    font-weight: 500;
}
/*手风琴面板*/
.layui-colla-title {
    font-size: 12px;
}
/*表格*/
.layui-table td, .layui-table th {
    padding: 8px;
    font-size: 12px !important;
    font-weight: 500;
}
/*input radio*/
.layui-form-radio {
    margin: 2px 10px 0px 0px;
}
.layui-form-radio * {
    font-size: 12px;
}
.layui-form-radio>i {
    font-size: 18px;
}
/*input button*/
.layui-btn {
	height: 32px;
    line-height: 32px;
    padding: 0 10px;
    font-size: 12px;
}
.layui-btn-xs {
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    font-size: 12px;
}
.layui-btn-sm {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
}
.layui-btn-lg {
    height: 44px;
    line-height: 44px;
    padding: 0 25px;
    font-size: 16px;
}
/*默认Tab选项卡*/
.layui-tab-title li {
    font-size: 12px;
    font-weight: bold;
}
.layui-tab-title .layui-this {
    color: #222;
}
/*打印页面*/
.printTable .printDis span, .printTable .printOperator span, .printTable .printOperator .three{
    font-size: 12px;
    line-height: 30px;
}
/*input 复选框*/
.layui-input, .layui-select, .layui-textarea {
    height: 32px;
    line-height: 1.3;
    line-height: 32px\9;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-radius: 2px;
}
.layui-form-checkbox {
    height: 24px;
    line-height: 22px;
}
.layui-form-checkbox span {
    font-size: 12px;
}
.layui-form-checkbox[lay-skin=primary] i {
    width: 14px;
    height: 14px;
    line-height: 14px;
}
/*form 高低布局*/
.layui-form-label {
    padding: 6px 15px;
}
.layui-input-block {
    min-height: 32px;
}
/*form 开关*/
.layui-form-switch {
    height: 16px;
    line-height: 16px;
    width: 36px;
}
.layui-form-switch i {
    left: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
}
.layui-form-onswitch i {
    left: 32px;
}
/*form * */
i.bt {
    height: 32px;
    line-height: 32px;
    font-size: 18px;
}
/*间距*/
.layui-btn+.layui-btn {
    margin-left: 2px;
}
.layui-form-item .layui-input-inline {
    margin-right: 5px;
}
/*表单*/
.layui-form-item {
    margin-bottom: 10px;
}

/*框架*/
.frameMenu .menu ul li a {
    font-size: 13px !important;
}
.frameMenu .menuFrist ul li a font {
    font-size: 14px !important;
}
.frameMenu .menu .menuName {
    font-size: 13px !important;
}
.frameTop .topMenu ul li a font {
    font-size: 13px !important;
}
.frameTop .topMenu ul li dl dt a {
    font-size: 13px !important;
}